@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
    --border-color: #00FF00;
}

* {
    font-family: "Merriweather Sans";
    color: var(--text-color);
}

body {
    margin: 0;
    padding: 20px;
    background-color: var(--body-bg-color);
}

h1 {
    font-size: 1.250rem;
}

h2 {
    font-size: 1.438rem;
    font-weight: 700;
}

h3 {
    font-size: 0.813rem;
    font-weight: 400;
}

.card {
    display: flex;
    align-items: center;
    background-color: var(--bg-cards);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
}


#myProject-card {
    justify-content: space-between;
    width: 50%;
}

#recentPosts-card {
    width: 50%;
    margin-top: 1rem;
}

#profile-card {
    width: 20%;
    flex-direction: column;
}

#profile-image {
    border-radius: 100%;
    border: solid 2px;
    border-color: var(--border-color);
}

#h3-profile-card {
    margin-top: -0.5rem
}