@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
    --border-color: #00FF00;
}

* {
    font-family: "Merriweather Sans";
}

body {
    margin: 0;
    padding: 20px;
    background-color: var(--body-bg-color);
    color: var(--text-color);
}

h1 {
    font-size: 1.250rem;

}

h2 {
    font-size: 1.438rem;
    font-weight: 700;
}

.card {
    display: flex;
    align-items: center;
    background-color: var(--bg-cards);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
}

/* Projects Card Styles */
.information {
    display: flex;
    align-items: center;
}

.information-icon {
    filter: invert(69%) sepia(8%) saturate(5965%) hue-rotate(205deg) brightness(72%) contrast(66%);
    margin-right: 2rem;
}

#myProject-card {
    justify-content: space-between;
    width: 100%;
}

/* Posts Card Styles */
#recentPosts-card {
    width:100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#post {
    width: 100%
}

#post-title {
    display: flex;
    flex-direction: column;
}

#date {
    margin-top: -1rem;
}

#post-content {
    margin-left: 3rem;
}

#profile-image-post {
    border-radius: 100%;
}

#folder {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 1rem;
}

#git-status {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

#number {
    margin-left: -1.2rem;
}

.programming-language {
    display: flex;
    align-items: start;
    margin-right: 1rem;
}

#circle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #E7DE79;
    border: solid 2px;
    border-color: var(--text-color);
    margin-right: 0.5rem;
}

#father-folder {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
}

/* Profile Card Styles */
#profile-card {
    width: 100%;
    flex-direction: column;
}

#profile-image {
    border-radius: 100%;
    border: solid 2px;
    border-color: var(--border-color);
}

#profileName {
    font-size: 1.438rem;
    font-weight: 700;
}

#occupation-profile-card {
    font-size: 0.813rem;
    font-weight: 400;
}

#informationProfile-card {
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 250px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
}

#technologies-card {
    width: 100%;
    flex-direction: column;
    align-items: start;
    margin-bottom: 1rem;
}

#technologies-card-grid {
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    display:grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#technologies-style-card{
    width: 100px;
    height: 20px;
    padding: 8px;
    border-radius: 50px;
    text-align: center;
    background-color: var(--bg-techs);
    color: black;
    font-weight: 700;
}

#list-card {
    width: 100%;
    margin-bottom: 1rem;
    flex-direction: column;
    align-items: start;
}

li {
    margin: 10px 0;
}

ul {
    padding: 0.47rem;
    margin-top: -1.5rem;
    margin-bottom: -0.5rem;
}

main {
    display: flex;
    justify-content: space-between;
}